<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="/static/create.css">
</head>
<body>
    <div class="container">
        <h1>Create User</h1>
            {% with messages = get_flashed_messages() %}     
            {% if messages %}                            
            {% for message in messages %}            
                <p>{{message}}</p>                   
            {% endfor %}
            {% endif %}
            {% endwith %}
        <form action="/users/new/process" method="POST">
            <div>
                <label form="">First Name:</label>
                <input type="text"  name="first_name">
            </div>
            <div>
                <label form="">Last Name:</label>
                <input type="text"  name="last_name">
            </div>
            <div>
                <label form="">Email:</label>
                <input type="text"  name="email">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>