<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show User</title>
</head>
<body>
    <div class="container">
        <h1>User: {{user.first_name}} {{user.last_name}}</h1>
        <div>
            <p>Full Name: {{user.first_name}} {{user.last_name}}</p>
        </div>
        <div>
            <p>Email: {{user.email}}</p>
        </div>
        <div>
            <p>Created At: {{user.created_at}}</p>
        </div>
        <div>
            <p>Updated At: {{user.updated_at}}</p>
        </div>
        <div>
            <a href="/users/update/{{user.id}}">Edit</a>
            <a href="/users/delete/{{user.id}}">Delete</a>
        </div>
    </div>
</body>
</html>